.hidden {
    display: none;
}

.wwc-text-capitalize {
    text-transform: capitalize;
}

.wwc-text-input {
    border: 1px solid #6B3768;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.wwc-action-button {
    background: #FFFFFF;
    border: 1px solid #6B3768;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    color: #6B3768;
}

.wwc-action-button .icon {
    width: 24px;
    height: 24px;
    color: #6B3768;

}

.wwc-primary-button {
    background: #007a7c;
    border: 1px solid #007a7c;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
}

.wwc-secondary-button {
    background: #FFFFFF;
    border: 1px solid #007a7c;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    color: #007a7c;
}

.wwc-action-button .icon:before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
}

.wwc-action-button .icon.save-purple-icon:before {
    background: url("./images/save_purple_24px.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.wwc-action-button .icon.edit-purple-icon:before {
    background: url("./images/edit_purple_24px.png");
    background-repeat: no-repeat;
    background-size: contain;
}

select.disabled {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

/* To overrider bootstrap from validation for valid case */
.was-validated .form-control:valid {
    border-color: #ced4da !important;
    background-image: none !important;
}

.was-validated .form-check-input:valid~.form-check-label {
    color: initial !important;
}

@media only screen and (max-width: 576px) {
    .wwc-action-button {
        height: 32px;
        font-weight: 400;
        font-size: 12px;
        line-height: 10px;
    }

    .wwc-action-button .icon {
        width: 16px;
        height: 16px;
        color: #6B3768;
    
    }
    
    .wwc-action-button .icon:before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
    }

    .wwc-primary-button {
        font-size: 12px;
        line-height: 16px;
    }
    
    .wwc-secondary-button {
        font-size: 12px;
        line-height: 16px;
    }
}